.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  padding-left: 64px;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.logo {
  display: block;
  width: 183px;
  height: 32px;
}

.header_logo {
  position: absolute;
  top: 30px;
  z-index: 2;  
}

.header_title {
  display: flex;
  align-items: center;
  width: 730px;  
  z-index: 2;  
}

.header_title h1 {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header_subtitle {
  display: inline-block;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;  
  z-index: 2;

}

.header_subtitle p {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header_subtitle a {
  color: #2f80ed;
  text-decoration: none;
}

.main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.square-pic {
  position: absolute;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  }

.two-columns_bref {
  width: 175px;
}

.two-columns_bref h2 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns_main-text {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.two-columns_paragraph p {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns_span-accent p {
  line-height: 34px;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  }

  .digits {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
  }

  .section-title {   
    display: block; 
    width: 60%;
    padding-bottom: 60px;
    text-align: center;
  }
  .section-title h2 {
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
  }

  .section-subtitle {
    display: block;    
    width: 60%;
    text-align: center;
  }

  .section-subtitle h3 {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }

  .table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1100px;
    padding-bottom: 100px;  
  }

  .table_cell {
    width: 250px;
    margin-top: 60px;
  }

  .table_text {
    margin-top: 20px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
  }

  .table_heading h4 {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
  }

  .feynman {
    position: relative;
    height: 790px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .feynman_title {
    display: block;
    width: 648px;
    text-align: center; 
    z-index: 1;   
  }

  .feynman_title h2 {
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
  }

  .feynman_subtitle {
    margin-top: 70px;
    text-align: center;
    z-index: 1;
  }

  .feynman_subtitle h3 {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
  }

  .feynman_link {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 48px;    
  }

  .feynman_link a {
    text-decoration: none;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
  }

  .feynman_img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 867px;
    height: 637px;
    z-index: 0;
  }

  .kaufman {
    background-color:  #1f1f1f;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 90px;
    overflow: hidden;
  }

  .kaufman_triangle {
    position: absolute;
    right: -210px;
    top: 0;
    width: 877px;
    height: 877px;
    z-index: 0;
    background-image: url(/images/kaufman-triangle.svg);
    background-size: cover;
  }

  .section-title__theme_dark {
    width: 60%; 
    z-index: 3;   
  }

  .section-title__theme_dark h2 {
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
  }

  .section-subtitle__theme_dark {
    width: 60%;
    margin-top: 20px;
  }

  .section-subtitle__theme_dark h3 {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }

 .table_cell__theme_dark {
   width: 200px;
   margin-top: 80px;
 }

 .table_heading__theme_dark {
   margin-bottom: 20px;
 }

 .table__theme_dark {
  padding-bottom: 90px;
 }

 .table__theme_dark {
  z-index: 1;
 }

 .table_heading__theme_dark h4 {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
 }

 .table_text__theme_dark p {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
 }

 .footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;   
 }

 .footer_columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 0 auto;
  }

 .footer_column__content_copyright {
  display: flex;
  flex-basis: 711px;
  justify-content: space-between;
  flex-direction: column;
 }

 .footer_logo {
  height: 35px;
 }

 .footer_author {
  margin-top: 18px;
  margin-bottom: 18px;   
 }

 .footer_column-heading__info {
  margin-bottom: 20px;
 }

 .footer_column-heading__info h4 {
   margin: 0;
   padding: 0;
 }

 .footer_column-heading__social {
  margin-bottom: 20px;
 }

 .footer_column-heading__social h4 {
   margin: 0;
   padding: 0;
 }

 .footer_column-links {
  margin-bottom: 16px;
 }

 .footer_column-links img {
  margin-right: 10px;
 }