.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000000;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  padding-left: 64px;
  overflow: hidden;
}

.logo {
  display: block;
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  display: flex;
  align-self: center;
  width: 730px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  text-decoration: none;
  transition: all 1s ease 0s;
  opacity: .5;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  }

.two-columns__brief {
  width: 175px;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:nth-child(2n) {
  margin-top: 30px;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: bold;
  }

  .techniques {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .section-title {
    display: block;
    width: 60%;
    padding-bottom: 20px;
    text-align: center;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
  }

  .section-subtitle {
    display: block;
    width: 60%;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    width: 920px;
    margin-bottom: 100px;
  }

  .cards__item {
    width: 240px;
    margin-top: 60px;
    margin-right: 100px;
    text-align: center;
  }

  .cards__item:nth-child(3n) {
    margin-right: 0;
  }

  .cards__image {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 43px;
  }

  .cards__title {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 16px;
  }

  .cards__description {
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
  }

  .video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .video__iframes {
    margin-top: 50px;
    position: relative;
    top: 40px;
    left: 0;
  }

  .video__iframe {
    display: inline;
  }

  .video__iframe:nth-child(1) {
    margin-right: 20px;
  }

  .oakley {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding-top: 160px;
  padding-bottom: 80px;
  }

  .feynman {
    position: relative;
    min-height: 790px;
    padding-top: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #f2f2f2;
    margin-bottom: 100px;
  }

  .feynman__title {
    display: block;
    width: 648px;
    text-align: center;
    z-index: 1;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }

  .feynman__subtitle {
    margin-top: 70px;
    text-align: center;
    z-index: 1;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
  }

  .feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    text-decoration: none;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
  }

  .feynman__link:hover {
  text-decoration: none;
  transition: all 1s ease 0s;
  opacity: .5;
  }

  .feynman__image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 867px;
    height: 637px;
    z-index: 0;
  }

  .digits {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
  }

  .table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1100px;
    padding-bottom: 100px;
  }

  .table__cell {
    width: 250px;
    margin-top: 60px;
  }

  .table__text {
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
  }

  .table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }

  .khan {
    padding-top: 105px;
    background-color: #f2f2f2;
  }

  .khan__container {
    width: 80%;
    margin: 0 auto;
  }

  .khan__author {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
  }

  .khan__title {
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
  }

  .khan__quote {
    width: 790px;
    margin-top: 50px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }

  .khan__quote-author {
    margin-top: 36px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
  }

  .khan__quote-author-subline {
    margin-top: 10px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
  }

  .khan__buy-link {
    text-decoration: none;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed;
  }

  .khan__buy-link:hover {
    text-decoration: none;
    transition: all 1s ease 0s;
    opacity: .5;
  }

  .khan__book-container {
    margin-top: 68px;
    display: flex;
  }

  .khan__book-pic {
    width: 608px;
    height: 620px;
    margin-right: 48px;
  }

  .kaufman {
    background-color:  #1f1f1f;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 90px;
    padding-bottom: 90px;
    overflow: hidden;
    z-index: 1;
  }

  .kaufman__triangle {
    position: absolute;
    right: -210px;
    top: 0;
    width: 877px;
    height: 877px;
    z-index: -1;
    background-image: url(../images/kaufman-triangle.svg);
    background-size: cover;
  }

  .table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
 }

 .table__heading_theme_dark {
  margin-bottom: 20px;
  font-weight: bold;
 }

 .table_theme_dark {
  padding-bottom: 90px;
 }

 .resources {
  padding-top: 100px;
  padding-bottom: 217px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 .resources__logo-zone {
  margin-top: 80px;
  width: 1100px;
 }

 .resources__logo {
  width: 270px;
  height: 38px;
 }

 .footer {
  box-sizing: border-box;
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
 }

 .footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
  }

 .footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  justify-content: space-between;
  flex-direction: column;
  min-height: 250px;
 }

 .logo_place_footer {
  height: 35px;
 }

 .footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
 }

.footer__column-heading {
  margin-bottom: 20px;
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
 }

 .footer__column-links {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin-bottom: 16px;
  }

 .footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
 }

 .footer__social-icon {
  margin-right: 10px;
 }


/* Анимация вращения */
 @keyframes rotation {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }

 .rotation {
  animation: rotation 20s linear infinite;
}
