.khan__buy-link {
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
}

.khan__buy-link:hover {
  text-decoration: none;
  transition: all 1s ease 0s;
  opacity: .5;
}
