.khan__buy-link {
    align-self: flex-start;
    text-decoration: none;
    transition: all 1s ease 0s;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed;
}

.khan__buy-link:hover {
    opacity: .5;
}
